<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>

    <link href="../static/css/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{css/bootstrap-4.4.1-dist/css/bootstrap.min.css}"/>

    <script src="../static/js/jquery-2.2.4.min.js"
            th:src="@{js/jquery-2.2.4.min.js}"></script>


</head>
<body>

<div class ="container">


<table class="table table-striped">
    <thead>
    <tr>
        <th>Test Name</th>
        <th>Test Code</th>
        <th>Quantity in Stock</th>
        <th>Cost</th>
        <th>Price</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="medicaltest : ${medicalTestList}">
        <td th:text="${medicaltest.testName}">Test Name</td>
        <td th:text="${medicaltest.testCode}">Test Code</td>
        <td th:text="${medicaltest.quantityOnHand}">Quantity in Stock</td>
        <td th:text="${medicaltest.cost}">Cost</td>
        <td th:text="${medicaltest.price}">Price</td>
    </tr>
    </tbody>
</table>

</div>

</body>
</html>